
{% extends "base.html" %}
{% load static %}
{% load i18n %} 


{% block title_meta %}
  <title>{% trans "Доставка і оплата запчастин на авто з США. Розбирання Авто" %}</title>
  <meta name="description" content={% trans "Замовити запчастини на автомобілі з США з доставкою по Україні  ✔️ Висока якість ✔️ Гарантії ✔️ Низькі ціни ☎️ 38 (068) 925-52-52 38 | (050) 925-52-52" %}>
{% endblock title_meta %}
  {% block hero-section %}
      <!-- hero-section -->
       <section class="abuotus">
        <div class="container">
          <h1 class="wow animate__animated animate__backInUp">{% trans "Gen Brothers – Ваш Надійний Партнер у Сфері Автозапчастин з Америки, Європи та Азії" %}</h1>
          <p class="wow animate__animated animate__fadeInRight">{% trans "Компанія Gen Brothers, заснована в 2016 році, є провідним гравцем на ринку автозапчастин в Україні, спеціалізуючись на імпорті автомобілів з Америки, Європи та Азії та їх розборці на деталі. Ми пропонуємо широкий асортимент запчастин для відомих брендів, таких як <strong>Nissan, Acura, Dodge, AUDI, Land Rover, Jaguar, BMW, Jeep, KIA, Hyundai, Volkswagen, INFINITI</strong> та інші, забезпечуючи якісні автозапчастини за доступними цінами." %}</p>
          <h2 class="wow animate__animated animate__fadeInLeft">{% trans "Наша Спеціалізація" %}</h2>
          <p class="wow animate__animated animate__fadeInRight">{% trans "Компанія Gen Brothers розбирає автомобілі найпопулярніших брендів, які відповідають високим стандартам якості та слугують джерелом надійних деталей." %}</p>
          <ul class="specialisation-list wow animate__animated animate__fadeInLeft">
              <li><a href="{% static 'assets/pages/cars-catalog/land_rover.html' %}"><img src="{% static 'assets/img/land_rover.svg' %}"
                alt="landrover">Land Rover</a>{% trans " – позашляховики преміум-класу для справжніх поціновувачів." %}</li>
              <li><a href="{% static 'assets/pages/cars-catalog/jaguar.html' %}"><img src="{% static 'assets/img/jaguar.svg' %}" alt="jaguar">Jaguar</a>{% trans " – розкішні автомобілі з бездоганною динамікою." %}</li>
              <li><a href="{% static 'assets/pages/cars-catalog/bmw.html' %}"><img src="{% static 'assets/img/bmw.svg' %}" alt="bmw">BMW</a>{% trans "– потужні авто, відомі своїми інноваціями." %}</li>
              <li><a href="{% static 'assets/pages/cars-catalog/jeep.htm' %}"><img src="{% static 'assets/img/jeep.svg' %}" alt="jeep">Jeep</a>{% trans " – легендарні позашляховики для активного відпочинку." %}</li>
              <li><a href="{% static 'assets/pages/cars-catalog/kia.html' %}"><img src="{% static 'assets/img/kia.svg' %}" alt="kia">KIA</a>{% trans " та " %}<a href="{% static 'assets/pages/cars-catalog/hynday.html' %}"><img src="{% static 'assets/img/hynday.svg' %}" alt="hynday">Hyundai</a>{% trans " – надійні авто з оптимальним співвідношенням ціни та якості." %}</li>
              <li><a href="{% static 'assets/pages/cars-catalog/volkswagen.html' %}"><img src="{% static 'assets/img/volkswagen.svg' %}"
                alt="volkswagen">Volkswagen</a>{% trans " – популярні моделі з широким вибором варіантів." %}</li>
              <li><a href="{% static 'assets/pages/cars-catalog/infiniti.html' %}"><img src="{% static 'assets/img/infiniti.svg' %}" alt="infiniti">INFINITI</a>, <a href="{% static 'assets/pages/cars-catalog/acura.html' %}"><img src="{% static 'assets/img/acura.svg' %}" alt="Acura">Acura</a>{% trans " – преміум-якість з японською надійністю." %}</li>
              <li><a href="{% static 'assets/pages/cars-catalog/nissan.html' %}"><img src="{% static 'assets/img/nissan.svg' %}" alt="nissan">Nissan</a>{% trans " – збалансовані технології та доступність." %}</li>
              <li><a href="{% static 'assets/pages/cars-catalog/dodge.html' %}"><img src="{% static 'assets/img/dodge.svg' %}" alt="dodge">Dodge</a>{% trans " – міцні американські позашляховики." %}</li>
              <li><a href="{% static 'assets/pages/cars-catalog/audi.html' %}"><img src="{% static 'assets/img/audi.svg' %}" alt="audi">AUDI </a>{% trans " – технологічні авто для любителів інновацій." %}</li>
          </ul>
        </div>
    </section>
    <section id="advantages">
      <div class="container">

        <h2 class="wow animate__animated animate__backInUp">{% trans "Переваги Співпраці з Gen Brothers" %}</h2>
        <ul class="advantages-list wow animate__animated animate__fadeInLeft">
            <li><div class="advantages-item">{% trans "Широкий вибір запчастин з трьох континентів</div> –  поставки з США, Європи та Азії для всіх популярних моделей." %}</li>
            <li><div class="advantages-item">{% trans "Прямі поставки без посередників</div> – конкурентоспроможні ціни завдяки закупівлі авто на аукціонах." %}</li>
            <li><div class="advantages-item">{% trans "Якість та надійність</div> – ретельний контроль якості для кожної деталі." %}</li>
            <li><div class="advantages-item">{% trans "Оригінальна якість</div> – тільки оригінальні запчастини високих стандартів." %}</li>
            <li><div class="advantages-item">{% trans "Професійна команда</div> – досвідчені фахівці гарантують належний стан кожної деталі." %}</li>
            <li><div class="advantages-item">{% trans "Швидка доставка</div> – оперативне виконання замовлень для мінімального часу очікування." %}</li>
            <li><div class="advantages-item">{% trans "Індивідуальний підхід</div> – консультаційна підтримка та допомога з вибором." %}</li>
        </ul>
      </div>
    </section>

    <section id="how-we-work">
      <div class="container">

        <h2>{% trans "Як ми Працюємо</h2>" %}
        <ul>
            <li><div class="how-we-work-item">{% trans "Закупівля автомобілів на аукціонах та через партнерів</div>– вибираємо авто з мінімальними пошкодженнями або невеликим пробігом для високої якості запчастин." %}</li>
            <li><div class="how-we-work-item">{% trans "Доставка та митне оформлення</div> – швидке та безпечне транспортування автомобілів в Україну." %}</li>
            <li><div class="how-we-work-item">{% trans "Процес розборки та перевірка</div>– кваліфіковані фахівці розбирають авто та перевіряють кожну деталь." %}</li>
            <li><div class="how-we-work-item">{% trans "Реалізація запчастин </div>– широкий асортимент деталей на складі для продажу приватним клієнтам та автомайстерням." %}</li>
        </ul>
      </div>
    </section>

    <section id="contact-us">
      <div class="container">
        <h3 class="">{% trans "Звертайтеся до Gen Brothers – Вашого Експерта з Автозапчастин!" %}</h2>
        <p>{% trans "Наша команда готова допомогти з вибором запчастин для ремонту, модернізації або тюнінгу. Gen Brothers гарантує високу якість, конкурентні ціни та індивідуальний підхід до кожного клієнта." %}</p>
      </div>
    </section>
          <!-- Модальное окно -->
          <div class="page-overlay" style="display: none;"></div> <!-- Затемняющий фон -->
          <div id="cartModal" class="modal hidden">
            <div class="modal-content">
              <h3>{% trans "Товар доданий у кошик!" %}</h3>
              <p>{% trans "Ви бажаєте продовжити покупки або оформити замовлення." %}</p>
              <div class="modal-buttons">
                <button onclick="closeCartModal()">{% trans "Продовжити покупки" %}</button>
                <button onclick="proceedToCheckout()">{% trans "Оформити замовлення" %}</button>
              </div>
            </div>
          </div>
    </main>

  {% endblock hero-section %}
