
{% extends "main/base.html" %}
{% load i18n %} 
{% load static %}
    
    {% block title_meta %}
    <title>{% trans "Genbrothers | Авторозбірка | Автозапчастини б/у | Авто на запчастини | Доставка авто з США" %}</title>
    <meta name="description"
      content="{% trans 'Розбирання автомобілів з США 2010-2020 років випуску на запчастини. Доставка запчастин по Україні(Київ,Харків,Львів,Дніпро,Запоріжжя,Чернігів,Одеса)' %}">
    {% endblock title_meta %}
    
    {% block hero-section %}
      <!-- hero-section -->
      <section id="first-section_index">
        <div class="baner-slider wow animate__animated animate__fadeInRight">
          <ul id="baner">
            <li>
              <img src="{% static 'assets/img/баннер1.jpg' %}" />
            </li>
            <li>
              <img src="{% static 'assets/img/баннер2.jpg' %}" />
            </li>
          </ul>
        </div>

        <div class="container">
          <h1 class="wow animate__animated animate__backInUp">{% trans 'Розбирання автомобілів з США "Gen Brothers". Низькі ціни.' %}</h1>
          <div class="first_screan">
            <div class="sidebar_filter wow animate__animated animate__fadeInLeft">
              <h2>{% trans "Пошук запчастин" %}</h2>
              <form action="#">
                <select name="articul" id="articul">
                  <option value="">{% trans "Артикул" %}</option>                 
                </select>
                <select name="markaavto" id="markaavto">
                  <option value="">{% trans "Марка авто" %}</option>
                </select>
                <select name="model" id="model">
                  <option value="">{% trans "Модель" %}</option>
                </select>
                <select name="rozdil" id="rozdil">
                  <option value="">{% trans "Розділ" %}</option>
                </select>
                <select name="pidrozdil" id="pidrozdil">
                  <option value="">{% trans "Підрозділ" %}</option>
                </select>
                <select name="zapchast" id="zapchast">
                  <option value="">{% trans "Запчастини" %}</option>
                </select>
                <select name="originalnumber" id="originalnumber">
                  <option value="">ОЕМ</option>
                </select>
                <button id="search-sidebar"> {% trans "Пошук" %}</button>
              </form>

            </div>
          </div>
        </div>
      </section>
      <section class="catalog-avto">
        <div class="container">
          <h2 class="wow animate__animated wow animate__animated animate__backInUp">{% trans "Каталог запчастин" %}</h2>
      
          <div class="catalog">
            <ul class="catalog-list">
                <li><a href="#"><img data-src="{% static 'assets/img/acura.svg' %}" alt="acura" class="lazy"></a></li>
                <li><a href="#"><img data-src="{% static 'assets/img/audi.svg' %}" alt="audi"class="lazy"></a></li>
                <li><a href="#"><img data-src="{% static 'assets/img/bmw.svg' %}" alt="bmw" class="lazy"></a></li>
                <li><a href="#"><img data-src="{% static 'assets/img/crysler.svg' %}" alt="crysler" class="lazy"></a></li>
                <li><a href="#"><img data-src="{% static 'assets/img/dodge.svg' %}" alt="dodge" class="lazy"></a></li>
                <li><a href="#"><img data-src="{% static 'assets/img/honda.svg' %}" alt="honda" class="lazy"></a></li>
                <li><a href="#"><img data-src="{% static 'assets/img/hynday.svg' %}" alt="hynday" class="lazy"></a></li>
                <li><a href="#"><img data-src="{% static 'assets/img/infiniti.svg' %}" alt="infiniti" class="lazy"></a></li>
                <li><a href="#"><img data-src="{% static 'assets/img/jaguar.svg' %}" alt="jaguar" class="lazy"></a></li>
                <li><a href="#"><img data-src="{% static 'assets/img/jeep.svg' %}" alt="jeep" class="lazy"></a></li>
                <li><a href="#"><img data-src="{% static 'assets/img/linkoln.svg' %}" alt="linkoln" class="lazy"></a></li>
                <li><a href="#"><img data-src="{% static 'assets/img/kia.svg' %}" alt="kia" class="lazy"></a></li>
                <li><a href="#"><img data-src="{% static 'assets/img/land_rover.svg' %}" alt="landrover" class="lazy"></a></li>
                <li><a href="#"><img data-src="{% static 'assets/img/nissan.svg' %}" alt="nissan" class="lazy"></a></li>
                <li><a href="#"><img data-src="{% static 'assets/img/volkswagen.svg' %}" alt="volkswagen" class="lazy"></a></li>
            </ul>  
          </div>
        </div>
      </section>
      <!-- section advantages-->
      <section id="advantages">
        <div class="container wow animate__animated animate__zoomInDown">
          <h2 class="wow animate__animated animate__wobble">{% trans "Наші переваги" %}</h2>
          <div id="advantages_slider" class="advantages_list wow animate__animated animate__fadeInRight"></div>
        </div>
      </section>
      <!--section news -->
      <section id="news">
        <div class="container wow animate__animated animate__slideInUp">
          <h2 class="wow animate__animated animate__swing">{% trans "Новини та поради" %}</h2>
          <div id="news_slider" class="wow animate__animated animate__fadeInLeft"></div>
          <div id="btn-news">
            <a href="{% static 'assets/pages/news.html' %}" target="_parent">{% trans " Перейти до новин" %}</a>
          </div>
        </div>
      </section>
    </main>
    {% endblock hero-section %}
    