{% extends "main/base.html" %}
{% load static %}
{% load i18n %}
{% load goods_tags %}

{% block title_meta %}
<title>{% trans "Розбирання авто | Авторозбiрка АвтоПМР | Автозапчастини б/у" %}</title>
<meta name="description"
  content={% trans "Підбір запчастин. Доставка автозапчастин здійснюється по всій Україні (Одеса, Київ, Харків, Львів, Дніпро, Запоріжжя, Чернігів)" %}>
  {% endblock title_meta %}

  {% block hero-section %}
      <section id="search-res">
        <div class="container">
          <div class="search-results"></div> 
          <div class="btn-res">
            <a href="#" class="load-more-search" style="display: none;">{% trans "Завантажити більше" %}</a>
          </div>
        </div>
      </section>
      <div class="container">
        <h1>{% trans "Деталі автомобіля" %}</h1>
        <div id="car-info"></div> <!-- Здесь будет отображена информация об автомобиле -->

        <div id="tabs">
          <!-- Заголовки вкладок -->
          <ul id="tab-titles">
            <li><a href="#interior">{% trans "Інтер'єр / салон" %}</a></li>
            <li><a href="#engine">{% trans "Двигун" %}</a></li>
            <li><a href="#body">{% trans "Кузов" %}</a></li>
            <li><a href="#electronics">{% trans "Електрика" %}</a></li>
            <li><a href="#parts">{% trans "Запчастини ІНШІ" %}</a></li>
            <li><a href="#brake-system">{% trans "Гальмівна система" %}</a></li>
            <li><a href="#suspension">{% trans "Підвіска та рульове" %}</a></li>
            <li><a href="#doors">{% trans "Двері" %}</a></li>
            <li><a href="#fasteners">{% trans "Кріплення" %}</a></li>
            <li><a href="#transmission">{% trans "Трансмісія" %}</a></li>
            <li><a href="#wheels">{% trans "Колеса" %}</a></li>
            <li><a href="#trunk-lock">{% trans "Замок багажника" %}</a></li>
            <li><a href="#tire">{% trans "ГУМА" %}</a></li>
          </ul>
        
          <!-- Контент вкладок -->
          <div id="tab-content">
            <div id="interior" class="tab-panel" style="display: none;"></div>
            <div id="engine" class="tab-panel" style="display: none;"></div>
            <div id="body" class="tab-panel" style="display: none;"></div>
            <div id="electronics" class="tab-panel" style="display: none;"></div>
            <div id="parts" class="tab-panel" style="display: none;"></div>
            <div id="brake-system" class="tab-panel" style="display: none;"></div>
            <div id="suspension" class="tab-panel" style="display: none;"></div>
            <div id="doors" class="tab-panel" style="display: none;"></div>
            <div id="fasteners" class="tab-panel" style="display: none;"></div>
            <div id="transmission" class="tab-panel" style="display: none;"></div>
            <div id="wheels" class="tab-panel" style="display: none;"></div>
            <div id="trunk-lock" class="tab-panel" style="display: none;"></div>
            <div id="tire" class="tab-panel" style="display: none;"></div>
          </div>
        </div>
              <!-- Модальное окно -->
      <div class="page-overlay" style="display: none;"></div> <!-- Затемняющий фон -->
      <div id="cartModal" class="modal hidden">
        <div class="modal-content">
          <h3>{% trans "Товар доданий у кошик!" %}</h3>
          <p>{% trans "Ви бажаєте продовжити покупки або оформити замовлення." %}</p>
          <div class="modal-buttons">
            <button onclick="closeCartModal()">{% trans "Продовжити покупки" %}</button>
            <button onclick="proceedToCheckout()">{% trans "Оформити замовлення" %}</button>
          </div>
        </div>
      </div>

    </main>
    {% endblock hero-section %}
