
{% extends "main/base.html" %}
{% load static %}
{% load i18n %} 

{% block title_meta %}
  <title>{% trans "Розбирання авто | Авторозбiрка АвтоПМР | Автозапчастини б/у" %}</title>
  <meta name="description"
    content={% trans "Підбір запчастин. Доставка автозапчастин здійснюється по всій Україні (Одеса, Київ, Харків, Львів, Дніпро, Запоріжжя, Чернігів)" %}>
{% endblock title_meta %}

{% block hero-section %}      
      <!-- hero-section -->
      <section id="first-section">
        <h1>Розбирання автомобілів з США "Gen Brothers". Низькі ціни.</h1>
        <div class="container ">
          <div id="carAccordion"></div>
          <div class="first_screan_catalog">
            <div class="sidebar wow animate__animated animate__fadeInLeft">
              <h2>Пошук запчастин</h2>
              <form action="#" id="search-product">
                <select name="markaavto" id="markaavto">
                  <option value="">--Марка авто--</option>
                </select>
                <select name="model" id="model">
                  <option value="">--Модель--</option>
                </select>
                <select name="rozdil" id="rozdil">
                  <option value="">--Розділ--</option>
                </select>
                <select name="pidrozdil" id="pidrozdil">
                  <option value="">--Підрозділ--</option>
                </select>
                <select name="zapchast" id="zapchast">
                  <option value="">--Запчастини--</option>
                </select>
                <select name="originalnumber" id="originalnumber">
                  <option value="">--ОЕМ--</option>
                </select>
                <button id="search-sidebar-catalog"> Пошук</button>

              </form>
            </div>
            <div id="cars-catalog"></div>
          </div>
        </div>
      </section>
      <section class="catalog_zapchast">
        <div class="container">
          <h2>Каталог товарів</h2>
          <div class="product-list"></div>
          <button class="load-more">Завантажити більше</button>
        </div>
      </section>
      <section class="catalog_mark_avto">
        <div class="hero-screan">
          <div class="container">
            <h2 class="wow animate__animated wow animate__animated animate__backInUp">Каталог запчастин</h2>
            <div class="catalog">
              <ul class="catalog-list wow animate__animated animate__backInUp">
                <li><a href="#"><img src="../img/acura.svg" alt="acura"></a></li>
                <li><a href="#"><img src="../img/audi.svg" alt="audi"></a></li>
                <li><a href="#"><img src="../img/bmw.svg" alt="bmw"></a></li>
                <li><a href="#"><img src="../img/crysler.svg" alt="crysler"></a></li>
                <li><a href="#"><img src="../img/dodge.svg" alt="dodge"></a></li>
                <li><a href="#"><img src="../img/honda.svg" alt="honda"></a></li>
                <li><a href="#"><img src="../img/hynday.svg" alt="hynday"></a></li>
                <li><a href="#"><img src="../img/infiniti.svg" alt="infiniti"></a></li>
                <li><a href="#"><img src="../img/jaguar.svg" alt="jaguar"></a></li>
                <li><a href="#"><img src="../img/jeep.svg" alt="jeep"></a></li>
                <li><a href="#"><img src="../img/linkoln.svg" alt="linkoln"></a></li>
                <li><a href="#"><img src="../img/kia.svg" alt="kia"></a></li>
                <li><a href="#"><img src="../img/land_rover.svg" alt="landrover"></a></li>
                <li><a href="#"><img src="../img/nissan.svg" alt="nissan"></a></li>
                <li><a href="#"><img src="../img/volkswagen.svg" alt="volkswagen"></a></li>
              </ul>
            </div>
          </div>
        </div>  
      </section>
      <!-- Модальное окно -->
      <div class="page-overlay" style="display: none;"></div> <!-- Затемняющий фон -->
      <div id="cartModal" class="modal hidden">
        <div class="modal-content">
          <h3>Товар доданий у кошик!</h3>
          <p>Ви бажаєте продовжити покупки або оформити замовлення.</p>
          <div class="modal-buttons">
            <button onclick="closeCartModal()">Продовжити покупки</button>
            <button onclick="proceedToCheckout()">Оформити замовлення</button>
          </div>
        </div>
      </div>
      </main>
    <footer>
      <div class="container">
        <div class="schedule">
          <div class="work-time">
            <div class="work-time-title wow animate__animated animate__fadeInLeft">
              Графік роботи Call-центру
            </div>
            <div class="time"><img src="../img/tasks.svg" alt="time work">Без вихідних: з 09:00 до 20:00</div>
          </div>
          <div class="work-time">
            <div class="work-time-title wow animate__animated animate__fadeInLeft">
              Графік роботи пункту видачі:
            </div>
            <div class="time"><img src="../img/tasks.svg" alt="time work">Пн-Пт: з 09:00 до 18:00</div>
            <div class="time"><img src="../img/tasks.svg" alt="time work">Сб: з 10:00 до 16:00</div>
            <div class="time"><img src="../img/tasks.svg" alt="time work">Нд: вихідний</div>
          </div>
        </div>
        <div class="pay-location">
          <div class="pay">
            <div class="pay-title wow animate__animated animate__fadeInLeft">
              Приймаємо до оплати:</div>
            <div class="pay-text">Mastercard, Visa</div>
          </div>
          <div class="location">
            <div class="location-title">Адреса:</div>
            <img src="../img/карта.svg" alt="location icon">
            <a
              href="https://www.google.com/maps/place/%D0%B2%D1%83%D0%BB%D0%B8%D1%86%D1%8F+%D0%9F%D1%80%D0%BE%D0%B5%D0%BA%D1%82%D0%BD%D0%B0,+7,+%D0%9A%D0%B8%D1%97%D0%B2,+02000/@50.4037161,30.4228657,17z/data=!3m1!4b1!4m6!3m5!1s0x40d4c95d4e90ec2b:0xed8222f75e2efae!8m2!3d50.4037161!4d30.4228657!16s%2Fg%2F11vlsc6cyt?entry=ttu&g_ep=EgoyMDI0MDgyMy4wIKXMDSoASAFQAw%3D%3D">м.
              Київ, вул. Проектна 7</a>
          </div>

        </div>
        <div class="form-footer">
          <div class="text-form wow animate__animated animate__fadeInRight">Якщо у Вас виникла складність із замовленням
            або з якістю обслуговування – заповніть просту форму. Ми вирішуватимемо Ваше питання.</div>
          <form id="feedback_form"  method="post">
            <div class="name">
              <input type="text" id="exampleInputName" name="name" placeholder="Ім'я">
            </div>
            <div class="telefon">
              <input type="text" name="tel" id="exampleInputTel" placeholder="Телефон ">
            </div>

            <button type="submit" class="btn-primary">Відправити</button>
          </form>
        </div>      </div>
    </footer>
    <div class="footer-menu">
      <div class="container">
        <div class="footer-links">
          <div class="f-link"><a
              href="https://docs.google.com/document/d/12RRHKT9s_c_SQxfQrxV2p-_1SnwbsVVU8oOIIhv8MzQ/edit#heading=h.k3lgmxj1tfcj">Договір
              публічної оферти</a></div>
          <div class="f-link"><a href="#">Співпраця</a></div>
          <div class="f-link"><a href="../pages/pdf-catalogy.html">PDF каталоги</a></div>
          <div class="f-link"><a href="../pages/news.html">Статті та новини</a></div>
          <!-- <div class="f-link"><a href="#">Спеціальні рішення</a></div> -->
          <div class="f-link"><a href="../pages/warrantyreturns.html">Гарантія та повернення</a></div>
          <div class="f-link"><a href="../pages/deliverypayment.html">Доставка і оплата</a></div>
          <div class="f-link"><a href="#">Відгуки</a></div>
          <div class="f-link"><a href="../pages/abuotus.html">Про нас</a></div>
          <div class="f-link"><a href="https://www.work.ua/jobs/by-company/2506907/" target="_blank"
              rel="nofollow">Вакансії</a></div>
        </div>
        <script src="../js/jquery/jquery-3.7.1.min.js"></script>
        <script src="../js/wow.min.js"></script>
        <script src="../js/toast.js"></script>
        <!-- <script src="../js/cart.js"></script> -->
        <script src="../js/catalog.js"></script>
        <!-- <script src="../js/helpers.js"></script> -->

      </div>
      <span id="copyright">© <span id="year"></span> My Web Genius</span>

    </div>
  </div>
</body>

</html>