{% extends "main/base.html" %}
{% load static %}
{% load i18n %}
{% load goods_tags %}

{% block title_meta %}
<title>{% trans "Розбирання авто | Авторозбiрка АвтоПМР | Автозапчастини б/у" %}</title>
<meta name="description" content={%
  trans "Підбір запчастин. Доставка автозапчастин здійснюється по всій Україні (Одеса, Київ, Харків, Львів, Дніпро, Запоріжжя, Чернігів)"
  %}>
{% endblock title_meta %}

{% block hero-section %}
<!-- hero-section -->
<section id="first-section">
  <h1>{% trans "Розборка Gen Brothers" %}</h1>
  <div class="container">
    <div class="accordion" id="carAccordion">
      {% for brand in brands %}
      <div class="accordion-item">
          <h2 class="accordion-header" id="heading{{ forloop.counter }}">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ forloop.counter }}" aria-expanded="false" aria-controls="collapse{{ forloop.counter }}">
                  {{ brand }}
              </button>
          </h2>
          <div id="collapse{{ forloop.counter }}" class="accordion-collapse collapse" aria-labelledby="heading{{ forloop.counter }}" data-bs-parent="#carAccordion">
              <div class="accordion-body">
                  <ul id="models-{{ forloop.counter }}" class="list-group"></ul>
              </div>
          </div>
      </div>
      {% endfor %}
  </div>
  
    </div>
    
      
      <div id="cars-catalog">
        {% for car in cars %}
          <a href="{% url 'catalog:car' car.slug %}" class="car-card">        
            <div>
              {% if car.photo %}
                <img src="{{ car.photo.url }}" alt="">
              {% else  %}
                <img src={% static "assets/img/image_not_foud.jpg.jpg" %} alt="">
              {% endif %}
                <div class="car-details">
                    <h2>{{ car.brand_car }} {{ car.model_car }}</h2>
                    <p>Рік: {{ car.year }}</p>
                </div>
            </div>
          </a>
        {% endfor %}
        <!-- Пагінатор авто -->
        <div class="pagination">
            {% if cars.has_previous %}
                <a href="?cars_page={{ cars.previous_page_number }}">Попередня</a>
            {% endif %}
            <span>{{ cars.number }} з {{ cars.paginator.num_pages }}</span>
            {% if cars.has_next %}
                <a href="?cars_page={{ cars.next_page_number }}">Наступна</a>
            {% endif %}
        </div>

</section>





  <section class="catalog_zapchast">
    <div class="container">
      <h2>{% trans "Каталог товарів" %}</h2>


      
      <div class="first_screan_catalog">
        <div class="sidebar wow animate__animated animate__fadeInLeft">
          <h2>{% trans "Пошук запчастин" %}</h2>
          <form action=" {% if request.GET.q %}{% url "catalog:search" %}{% else %}{% url "catalog:catalog" %}{% endif %} " method="get">
            {% if request.GET.q %}
              <input type="hidden" name='q' value" {} ">
            {% endif %}
            {{ forms.as_p }}
            <label for="brand_car"></label>
            {{form.brand_car}}

            {{ forms.as_p }}
            <label for="model_car"></label>
            {{form.model_car}}

            <label for="category"></label>
            {{form.category}}

            <label for="sub_category"></label>
            {{form.sub_category}}

            <label for="car_spare"></label>
            {{form.car_spare}}

            <label for="oem_code"></label>
            {{form.oem_code}}

            <button type="submit">{% trans " Пошук" %}</button>
          </form>
        </div>


      <div class="product-list">
        {% for product in goods %}
        <div class="product-card">
        <div class="product-stan">  </div>
          {% if product.photo %}
            <img src="{{ product.photo.url }}" alt="{{ product.sku }}">
          {% else  %}
              <img src={% static "assets/img/image_not_foud.jpg.jpg" %} alt="">
          {% endif %}
          <h3>{% trans "Артикул:" %} {{ product.sku }}</h3>
          <h3>{{ product.name }}</h3>
          <p>{% trans "Ціна:" %} {{ product.price }}</p>
          <div class="btn-cart">
            <button class="add-to-cart" data-id="{{ product.id }}" data-price="{{ product.price }}" data-name="{{ product.sku }}"  data-photo="{% if product.photo %}{{ product.photo.url }}{% else %}#{% endif %}">
              {% trans "Додати до кошика" %}
            </button>
          </div>
          <div class="product_btn">
            <a href="{% url 'catalog:product' product.slug %}">{% trans "Детальніше" %}</a>
          </div>
        </div>
        {% endfor %}
      </div>

    <!-- Пагінатор товарів -->
    <div class="pagination">
      {% if goods.has_previous %}
          <a href="?goods_page={{ goods.previous_page_number }}">Попередня</a>
      {% endif %}
      <span>{{ goods.number }} з {{ goods.paginator.num_pages }}</span>
      {% if goods.has_next %}
          <a href="?goods_page={{ goods.next_page_number }}">Наступна</a>
      {% endif %}
  </div>
</div>
    </div>
  </section>
</section>
    
    {% comment %} </div>
    <button class="load-more">{% trans "Завантажити більше" %}</button>
  </div> {% endcomment %}
  
</section>


<section class="catalog_mark_avto">
  <div class="hero-screan">
    <div class="container">
      <h2 class="wow animate__animated wow animate__animated animate__backInUp">{% trans "Каталог запчастин" %}</h2>
      <div class="catalog">
        <ul class="catalog-list wow animate__animated animate__backInUp">
          <li><a href="#"><img src="{% static 'assets/img/acura.svg' %}" alt="acura"></a></li>
          <li><a href="#"><img src="{% static 'assets/img/audi.svg' %}" alt="audi"></a></li>
          <li><a href="#"><img src="{% static 'assets/img/bmw.svg' %}" alt="bmw"></a></li>
          <li><a href="#"><img src="{% static 'assets/img/crysler.svg' %}" alt="crysler"></a></li>
          <li><a href="#"><img src="{% static 'assets/img/dodge.svg' %}" alt="dodge"></a></li>
          <li><a href="#"><img src="{% static 'assets/img/honda.svg' %}" alt="honda"></a></li>
          <li><a href="#"><img src="{% static 'assets/img/hynday.svg' %}" alt="hynday"></a></li>
          <li><a href="#"><img src="{% static 'assets/img/infiniti.svg' %}" alt="infiniti"></a></li>
          <li><a href="#"><img src="{% static 'assets/img/jaguar.svg' %}" alt="jaguar"></a></li>
          <li><a href="#"><img src="{% static 'assets/img/jeep.svg' %}" alt="jeep"></a></li>
          <li><a href="#"><img src="{% static 'assets/img/linkoln.svg' %}" alt="linkoln"></a></li>
          <li><a href="#"><img src="{% static 'assets/img/kia.svg' %}" alt="kia"></a></li>
          <li><a href="#"><img src="{% static 'assets/img/land_rover.svg' %}" alt="landrover"></a></li>
          <li><a href="#"><img src="{% static 'assets/img/nissan.svg' %}" alt="nissan"></a></li>
          <li><a href="#"><img src="{% static 'assets/img/volkswagen.svg' %}" alt="volkswagen"></a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- Модальное окно -->
<div class="page-overlay" style="display: none;"></div> <!-- Затемняющий фон -->
<div id="cartModal" class="modal hidden">
  <div class="modal-content">
    <h3>{% trans "Товар доданий у кошик!" %}</h3>
    <p>{% trans "Ви бажаєте продовжити покупки або оформити замовлення." %}</p>
    <div class="modal-buttons">
      <button onclick="closeCartModal()">{% trans "Продовжити покупки" %}</button>
      <button onclick="proceedToCheckout()">{% trans "Оформити замовлення" %}</button>
    </div>
  </div>
</div>
</main>
{% endblock hero-section %}

