
{% extends "main/base.html" %}
{% load static %}
{% load i18n %} 

{% block title_meta %}
  <meta name="description"
    content={% trans "Підбір запчастин. Доставка автозапчастин здійснюється по всій Україні (Одеса, Київ, Харків, Львів, Дніпро, Запоріжжя, Чернігів)" %}>

  <title>{% trans "Деталі продукту" %}</title>
{% endblock title_meta %}
{% block hero-section %}
      <section class="product-section">
        <div class="container">
          <div class="product-details">
            <div class="product-image-slider">
              <ul id="imageGallery">
              </ul>
            </div>
            <div class="product-item">
              <h1 class="product-name">{% trans "Назва продукту" %}</h1>
              <div class="product-title-item">{% trans "Артікул:" %} <span class="product-id"></span></div>
              <div class="product-title-item">{% trans "Ціна:" %} <span class="product-price"></span></div>
              <div class="product-title-item">{% trans "Ціна в грн:" %} <span class="product-price-uah"></span></div>
              <div class="product-title-item">{% trans "Марка авто:" %} <span class="product-markaavto"></span></div>
              <div class="product-title-item">{% trans "Модель:" %} <span class="product-model"></span></div>
              <div class="product-title-item">{% trans "Рік випуску:" %} <span class="product-god"></span></div>
              <div class="product-title-item">ОЕМ: <span class="product-originalnumber"></span></div>
              <div class="product-title-item">{% trans "Категорія:" %} <span class="product-category"></span></div>
              <div class="product-title-item">{% trans "Підкатегорія:" %} <span class="product-pod_category"></span></div>
              <div class="product-title-item">{% trans "Доп.категорія:" %} <span class="product-dop_category"></span></div>
              <div class="product-title-item">{% trans "Паливо:" %} <span class="product-toplivo"></span></div>
              <div class="product-title-item">{% trans "Тип кузова:" %} <span class="product-typ_kuzova"></span></div>
              <button class="add-to-cart" data-id="${product.ID_EXT}" data-price="${product.zena}" data-tipe="${product.zapchast}">{% trans "Додати до кошика" %}</button>
              <button class="buy-now" data-id="${product.ID_EXT}" data-price="${product.zena}" data-tipe="${product.zapchast}">{% trans "Купити в 1 клік" %}</button>            
            </div>
          </div>
        </div>
        <div class="container">
        <div class="delivery">
          <div class="delivery-name">{% trans "Доставка" %}</div>
          <ul>
            <li>
              <div class="delivery-title">{% trans "Київ, пров. Квітневий, буд. 1" %}</div>
              <div class="delivery-time"></div>
              <div class="delivety-pay">{% trans "Безкоштовно" %}</div>
            </li>
            <li>
              <div class="delivery-title">{% trans "Одеса, вул. Картамишівська, 9" %}</div>
              <div class="delivery-time"></div>
              <div class="delivety-pay">{% trans "Безкоштовно" %}</div>
            </li>
            <li>
              <div class="delivery-title">{% trans "Нова пошта(до відділення)" %}</div>
              <div class="delivery-time"></div>
              <div class="delivety-pay">{% trans "За тарифами НП" %}</div>
            </li>
          </ul>
        </div>
      </div>
      <div class="container">
        <div class="info-block">
          <div class="info-header">
            <div id="deteils" class="info-tab">{% trans "Подробиці" %}</div>
            <div id="analog" class="info-tab">{% trans "Підходить" %}</div>
            <div id="delivery" class="info-tab">{% trans "Доставка і оплата" %}</div>
            <div id="guarantees" class="info-tab">{% trans "Гарантії" %}</div>
          </div>
          <div class="deteils-info info-content">
            <div class="opysanye"></div>
          </div>
          <div class="analog-info info-content">
            <span> {% trans "авто котрим підходить ця позиція" %}</span>
          </div>
          <div class="delivery-info info-content">
            <div class="container">
              <h1 class=" wow animate__animated animate__flipOutY">{% trans "Доставка і оплата" %}</h1>
              <div class="delivery wow animate__animated animate__zoomIn">
                <h2>{% trans "Доставка товару :" %}</h2>
                <ul>
                  <li>{% trans "Самовивіз;" %}</li>
                  <li>{% trans "Кур'єрські служби Нова Пошта, Делівері;" %}</li>
                  <li>{% trans "Відправка на таксі (за рахунок покупця) по м. Київ після повної оплати;" %}</li>
                  <li>{% trans "Bеликогабаритні товари - мікроавтобусом компанії за попереднім поgodженням ціни." %}</li>
                </ul>
              </div>
              <div class="payment wow animate__animated animate__rollIn">
                <h2>{% trans "Оплата:" %}</h2>
                <ul>
                  <li>{% trans "Готівковий/безготівковий розрахунок (на рахунок ФОП без ПДВ)." %}</li>
                  <li>{% trans "При відправках кур'єрськими службами - за передоплатою на послуги перевізника в обидві сторони або
                    повна оплата (за бажанням)" %}</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="guarantees-info info-content">
            <div class="container">
              <div class="guarantees  wow animate__animated animate__rubberBand">{% trans "Компанія GenBrothers надає можливість
                перевірки якість запчастин. " %}</div>
              <p class="guarantees-item  wow animate__animated animate__lightSpeedInRight">{% trans "Повернути, або обміняти
                товар, можна протягом" %} <span class="guarantees-weight">{% trans "7 календарних дні в" %}</span>
                {% trans "з моменту отримання замовлення. Термін перевірки двигунів і КПП - 7 календарних днів. " %}</p>
              <div class="guarantees-item  wow animate__animated animate__lightSpeedInLeft">{% trans "Звертаємо Вашу увагу, що
                згідно ЗУ» Про захист прав споживачів', повернення або обмін вживаного товару можливий тільки за згодою
                продавця." %}
              </div>
              <p class="guarantees-item  wow animate__animated animate__lightSpeedInRight">{% trans "Компанія Gen Brothers бере на
                себе, на добровільній основі ці зобов’язання згідно " %}<span class="guarantees-weight">{% trans "ЗУ «Про захист прав
                  споживачів» Ч.2 статті 8. " %}</span>
                {% trans "Умови для товарів, котрі реалізуються вже вживаними — «щодо непродовольчих товарів, які перебували у
                використанні та були реалізовані через роздрібні комісійні торговельні підприємства, вимоги споживача,
                зазначені в частині першій статті 8, задовольняються за згодою продавця. Відповідно до цієї частини
                задовольняються вимоги споживача щодо товарів, гарантійний термін на які не закінчився»." %}
              </p>
              <span class="guarantees-weight  wow animate__animated animate__lightSpeedInLeft">{% trans "Не підлягають поверненню
                автозапчастини, якщо:" %}</span>
              <ul class="guarantees-list  wow animate__animated animate__lightSpeedInRight">
                <li>{% trans "автозапчастина була встановлена (експлуатувалася);" %}</li>
                <li>{% trans "пошкоджена покупцем;" %}</li>
                <li>{% trans "пломби та мітки були порушені." %}</li>
              </ul>
              <span class="guarantees-weight  wow animate__animated animate__lightSpeedInLeft">{% trans "Підлягають поверненню
                автозапчастини, якщо:" %}</span>
              <ul class="guarantees-list wow animate__animated animate__lightSpeedInRight">
                <li>{% trans "запчастина не підходить до Вашого автомобіля (за умови, що ви дали повну та правильну інформацію);" %}
                </li>
                <li>{% trans "запчастина має приховані дефекти, що не були виявлені при покупці (необхідно надати фото або відео
                  підтвердження);" %} </li>
                <li>{% trans "пломби та мітки не порушені." %}</li>
              </ul>
              <span class="guarantees-importantly  wow animate__animated animate__heartBeat">{% trans "ВАЖЛИВО!!!" %} </span>
              <div id="returns">
                <ul>
                  <li> {% trans "Протягом гарантійного терміну, забороняється проводити ремонт чи розбирання запчастин;" %}
                  </li>
                  <li>{% trans "Поверненню не підлягає електрика, електроніка, мікросхеми, блоки та інші види електротехнічних
                    пристроїв. У виняткових випадках повернення можливе з утриманням комісії на розсуд продавця від 10%
                    (але не менше 200 грн);" %}
                  </li>
                  <li>{% trans "Оренда запчастин для діагностики автомобіля складає 25% вартості запчастини, але не менше 1000
                    грн. Доставку у разі оплачує покупець в обидві сторони, але для оренди не надаються: електротехнічні
                    пристрої." %}
                  </li>
                  <li>{% trans "Якщо запчастина не знадобилася, при цьому немає провини компанії (напр. помилка підбору клієнтом,
                    відмова кінцевого клієнта, затримка доставки з вини перевізника) стягується 10% але від вартості
                    запчастини або прийом запчастини на реалізацію та після її продажу виплата повної суми." %}
                  </li>
                </ul>
              </div>
              <span class="guarantees-weight  wow animate__animated animate__heartBeat">{% trans "Повернення грошових коштів
                відбувається тільки після отримання та перевірки запчастини (до 14 днів)." %}</span>
            </div>
          </div>
        </div>
      </div>
    <div class="btn-to-catalog">
      <a href="../pages/catalog.html">{% trans "Назад до каталогу" %}</a>
    </div>
  
    </section>
    </main>
{% endblock hero-section %}

      </div>
      <!-- Підключайте jQuery перед LightSlider та LightGallery -->
      <script src="{% static 'assets/js/jquery/jquery-3.7.1.min.js' %}"></script>
      <script src="{% static 'assets/js/plagins/lightslider.min.js' %}"></script>
      <script src="{% static 'assets/js/plagins/lightgallery.min.js' %}"></script>
      <script src="{% static 'assets/js/plagins/lightgallery.umd.js' %}"></script>
      <script src="{% static 'assets/js/plagins/lg-thumbnail.min.js' %}"></script>
      <script src="{% static 'assets/js/plagins/lg-zoom.min.js' %}"></script>
      <script src="{% static 'assets/js/toast.js' %}"></script>
      <script src="{% static 'assets/js/product.js' %}"></script>
      <script src="{% static 'assets/js/helpers.js' %}"></script>

    </div>
    <span id="copyright">© <span id="year"></span> My Web Genius</span>
  </div>
  <!-- Модальное окно -->
<div class="modal-overlay-cart">
  <div class="modal-window">
    <p>{% trans "Товар доданий в кошик!" %}</p>
    <button class="continue-shopping">{% trans "Продовжити покупки" %}</button>
    <button class="go-to-cart">{% trans "Перейти до кошику" %}</button>
  </div>
</div>

</div>
</body>

</html>